
/* smartphone border, credits to https://www.w3schools.com/howto/howto_css_devices.asp */

.smartphone { /* The device with borders */
    position: relative;
    width: 250px;
    height: 520px;
    margin: auto;
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
    box-shadow: 0 0 30px #555;
}
.smartphone:before { /* The horizontal line on the top of the device */
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
}
.smartphone:after { /* The circle on the bottom of the device */
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
}
.smartphone .content { /* The screen (or content) of the device */
    width: 100%;
    height: 100%;
    background: white;
}

